.lignes_commande{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: hsla(230, 75%, 15%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    padding: 8rem 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    position: absolute;
    display: none;
}
.show_lignes {
    top: 0;
    opacity: 1;
    pointer-events: initial;
    display:grid;
}
.show_lignes .lignes_container {
    transform: translateY(0);
}
.lignes_close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}
.lignes_container{
    display: grid;
    background-color: var(--container-color);
    padding: 2rem 0;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    grid-template-rows: 100px 1fr 100px;
}
.lignes_title{
    font-size: var(--h2-font-size);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.lignes_infos{
    display: block;
    transition: transform .4s;
    overflow: overlay;
}
.lignes_table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.lignes_infos::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.lignes_infos::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.lignes_infos:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}
.lignes_table, .lignes_th, .lignes_td {
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}
.lignes_th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--first-color-lighten);
    cursor: pointer;
    text-transform: capitalize;
    font-size: 0.9rem;
    min-width: max-content;
}
.lignes_th:nth-last-child(2){
    max-width: 70px;
}
.lignes_td:nth-last-child(2){
    max-width: 70px;
}
.lignes_th:nth-child(2),.lignes_th:nth-child(4),.lignes_th:last-child {
    min-width: 120px;
}
.lignes_tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}
.lignes_tbody tr:hover {
    background-color: rgba(8, 196, 64, 0.158) !important;
}
.lignes_tbody tr td{
    transition: .2s ease-in-out;
}
.lignes_th:hover {
    color:var(--first-color);
}
.lignes_print{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
.lignes_print button{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}