.header{
    width: 100%;
    background-color: #ffffff00;
    position:  absolute;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 1s; /*Pour le changement light/dark mode*/
}
.nav{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 150px;
    display: inline-flex;
    align-items: center;
}
#logo:hover{
    opacity: 75%;
}
.nav_list{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}
.nav_item{
    overflow: hidden;
}
.nav_link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    color: var(--text-color);
}
.nav_link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}
.nav_link:focus,
.nav_link:hover {
    font-weight: bold;
}
.nav_link:focus span,
.nav_link:hover span {
    color: var(--first-color-alt);
    transform: translateY(-100%);
}
.nav_icon{
    color: var(--title-color);
    cursor: pointer;
    font-size: x-large;
    transition: .3s;
}
.nav_icon:hover{
    color: var(--first-color);
}
.nav_btns{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
.nav_toggle, .nav_close{
    display: none;
}
.nav_close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}