.header{
    width: 100%;
    background-color: #ffffff00;
    position:  absolute;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 1s; /*Pour le changement light/dark mode*/
}
.nav{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 150px;
    display: inline-flex;
    align-items: center;
}
#logo:hover{
    opacity: 75%;
}
.nav_list{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.nav_link{
    display: grid;
    text-align: center;
    margin-top: 44px;
    max-width: 50px;
}
.nav_link:hover,
.nav_link:focus{
    max-width: 108px;
}
.nav_link span {
    position: relative;
    opacity: 0;
    transition: transform 0.3s;
    color: var(--title-color);
    min-width: 50px;
}
.nav_link:focus span,
.nav_link:hover span {
    color: var(--first-color);
    opacity: 1;
    font-size: small;
}
.nav_icon{
    color: var(--title-color);
    cursor: pointer;
    font-size: x-large;
    transition: .3s;
}
.nav_link:focus .nav_icon,
.nav_link:hover .nav_icon {
    font-weight: bold;
    color: var(--first-color);
}
.nav_btns{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
.nav_toggle, .nav_close{
    display: none;
}
.nav_close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}