.profile_container{
    row-gap: 0.5rem;
    background-color: hsla(0, 0%, 100%, .01);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2.5rem 1rem;
    backdrop-filter: blur(16px);
}
.profile_header{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
}
.profile_photo{
    display: grid;
    align-items: center;
    padding: 30px;
}
.profile_photo img{
    border-radius: 120px; /* ajustez la valeur selon vos préférences */
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    justify-self: center;
}
.profile_form{
    grid-template-columns: 312px 1fr;
}
.profile_infos{
    display: grid; 
    row-gap: 1.25rem;
    margin-bottom: 1rem;
}
.profile_box,.profile_labels {
    display: grid;
    grid-template-columns: max-content 1fr 20px;
    column-gap: .5rem;
    align-items: center;
    padding-inline: 1.25rem;
    border: 2px solid var(--border-color);
    border-radius: 4rem;
}
.profile_labels {
    padding : 1rem;
}
.profile_input{
  border: none;
  outline: none;
  background: none;
  color: var(--text-color);
  padding-block: 1rem;
}
.profile_input::placeholder {
    color: var(--text-color);
}
.profile_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile_button {
    max-width: 10rem;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    margin: 0.75rem;
    background-color: hsl(var(--hue), 78%, 55%);
    border-radius: 4rem;
    color: var(--text-color);
    font-weight: 300;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 90px;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.profile_button i,.profile_box i {
    font-size: 1rem;
}
.profile_mdp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.profile_ligne{
    width: 100%;
    border: 1px solid var(--border-color);
    margin: 10px 0;
}
.profile_mdp span{
    color: var(--text-color);
    font-size: medium;
    cursor: pointer;
    text-align: center;
}
.profile_mdp span:hover{
    color:var(--first-color-dark);
    text-decoration: underline;
}
#file_input{
    display: none;
}

